.main {
  display: inline-flex;
  input {
    width: 100%;
    padding: var(--space200);
    // border: 0;
    border: var(--border);
    border-radius: var(--borderRadius);
    transition: var(--transition300);
    appearance: none;

    &:hover {
      border: 1px solid var(--blue300);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0px 1px var(--blue400);
    }
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
