.main {
  height: var(--navBarHeight);
  width: 100%;
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space400);
  color: white;
  position: fixed;
  top: 0;
}
