.main {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 20px 2px 20px;
  gap: 2px;

  input {
    width: 100%;
    padding: 6px 0;
    border-radius: var(--borderRadius);
    transition: var(--transition300);
    appearance: none;
    border: 1px solid transparent;
    background: transparent;
    text-align: center;
    border: 1px solid transparent;
    line-height: 1.2;

    &:hover {
      border: 1px solid var(--blue300);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0px 1px var(--blue400);
    }
  }
}

.HH {
}

.mm {
}
