.main {
  padding: var(--space500);
  margin-top: var(--navBarHeight);
}

.TimeInputsWrapper {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space400);
}
