.main {
  display: grid;
  gap: var(--space200);
  align-items: center;
  grid-template-columns: minmax(150px, 250px) repeat(2, 60px) 50px 30px;
}

.readOnly {
  padding: var(--space200);
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.diff {
  text-align: right;
  padding: var(--space200);
  color: var(--primaryColor);
}

.deleteButton {
  cursor: pointer;
  color: var(--grey500);

  &:hover {
    color: var(--red400);
  }
}
