.main {
  display: grid;
  gap: var(--space200);
  align-items: center;
  grid-template-columns: minmax(150px, 250px) repeat(2, 60px) 40px;
}

.readOnly {
  padding: var(--space200);
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}
