.Button {
  font-size: var(--fontSize);
  background-color: var(--primaryColor);
  color: var(--primaryTextColor);
  padding: 0.5em 1em;
  border-radius: var(--borderRadius);
  border-radius: 200px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    background-color: var(--primaryHoverColor);
  }

  &__700 {
    font-size: var(--fontSize700);
  }
}
