.main {
  display: inline-flex;
  gap: var(--space300);
  align-items: center;
  font-size: var(--fontSize);
  padding: 0.5em 1em;
  border-radius: var(--borderRadius);
  border-radius: 200px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;

  svg {
    font-size: 0.8em;
  }
}
.size {
  &__500 {
    font-size: var(--fontSize500);
  }
  &__600 {
    font-size: var(--fontSize600);
  }
  &__700 {
    font-size: var(--fontSize700);
  }
}

// Variants
.primary {
  background-color: var(--primaryColor);
  color: var(--primaryTextColor);
  &:hover {
    background-color: var(--primaryHoverColor);
  }
}

.inverse {
  background-color: var(--inverseColor);
  color: var(--inverseTextColor);
  &:hover {
    background-color: var(--inverseHoverColor);
  }
}

.red {
  background-color: var(--red400);
  color: var(--primaryTextColor);
  &:hover {
    background-color: var(--red500);
  }
}
